/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  height: 70vh;
  margin: 0 auto;
  padding: 1vh;
  border: solid rgb(89, 84, 84) 4px;
  box-shadow: 10px 10px 5px rgb(184, 180, 180);
}

input{
  margin-bottom: 2vh;
}

body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(242, 237, 232);
}

h3{
  font-style: italic;
}

h2{
  text-align: center;
  margin: 0 auto;
  padding-top: 35vh;
}

.imageBox{
  display: none;
  height: auto;
  margin: 0 auto;
  padding: 2vh;
  align-content: center;
}

#next{
  margin-top: 2vh;
}

::placeholder{
  color: lightgrey;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
